@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-23dsms');
	src:url('fonts/icomoon.eot?#iefix-23dsms') format('embedded-opentype'),
		url('fonts/icomoon.woff?-23dsms') format('woff'),
		url('fonts/icomoon.ttf?-23dsms') format('truetype'),
		url('fonts/icomoon.svg?-23dsms#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-megaphone:before {
	content: "\e060";
}
.icon-file:before {
	content: "\e086";
}
.icon-calendar:before {
	content: "\e112";
}
.icon-stats:before {
	content: "\e1fe";
}
.icon-link:before {
	content: "\e2c9";
}
.icon-flag:before {
	content: "\e2d1";
}
.icon-eye:before {
	content: "\e2dc";
}
.icon-eye-blocked:before {
	content: "\e2dd";
}
.icon-star:before {
	content: "\e2ff";
}
.icon-thumbs-up:before {
	content: "\e313";
}
.icon-thumbs-down:before {
	content: "\e314";
}
.icon-exit:before {
	content: "\e37a";
}
.icon-file-pdf:before {
	content: "\e4e2";
}
.icon-mail:before {
	content: "\e604";
}
.icon-arrow-left:before {
	content: "\e6d5";
}
.icon-arrow-down:before {
	content: "\e6d6";
}
.icon-arrow-up:before {
	content: "\e6d7";
}
.icon-arrow-right:before {
	content: "\e6d8";
}
