{% block title %}
	Main First | Prototype
{% endblock %}

{% block content %}

<header class="masthead conclusion-banner navbar-fixed-top">
	<div class="container">
	
	<img src="{{ "logo.png" | asset_url }}" alt="Main First Bang AG" class="branding" />
	
		<div class="stats">
			<h1>Vienna Insurance Group</h1>
			<span class="status label label-danger"><span class="icon-stats"></span> Underperform</span>
			<span class="price">
				<span class="label label-target">PT:</span> EUR 36.0
				<span class="label label-price">Price:</span> EUR 35.20 (+2.3%)
			</span>
		</div>
		
		<div class="interact">	
		
			<a class="gallery-link" href="#"><span class="icon-flag"></span> Key Points</a>
			<div class="gallery">
				<a href="{{ "slide-1.png" | asset_url }}"></a>
				<a href="{{ "slide-2.png" | asset_url }}"></a>
				<a href="{{ "slide-3.png" | asset_url }}"></a>
				<a href="{{ "slide-4.png" | asset_url }}"></a>
				<a href="{{ "slide-5.png" | asset_url }}"></a>
			</div>
			
			<a href="#"><span class="icon-file-pdf"></span> Download</a>

			
		</div>
		
	</div><!-- /container -->
</header>
	
	<section class="container main-content">
		<article class="col-md-6">
			
			<header>
				<h1>Now fairly valued</h1>
				<time datetime="2009-11-13"><span class="icon-calendar"></span> 3 February 2014</time>
				<a href="mailto:andy@analyst.com"><span class="icon-mail"></span> Andy Analyst</a>
				<a href="#"><span class="icon-exit"></span> Share</a>	
				<a href="#more-reading" class="scroll"><span class="icon-file"></span> More reading</a>
			</header>
			
			<p class="lead">Following VIG's announcement of preliminary premiums 2013 and the disappointing pre-tax profit of EUR350m, and following the negative share price reaction we revisit the investment case. We continue to see P&amp;C insurance in many CEE countries being competitive.</p>
			<p class="lead">As the low interest rates still bites into VIG’s P&amp;L, we expect EPS to grow 3-4% p.a. for next three years, slightly below expected premium growth of 4-5% p.a. At a PE 2014E of 11x we see VIG fairly valued at this stage, and maintain our Underperform rating on the stock.</p>
			
			<ul class="more-list list-unstyled">
				<li class="more-show-hide">
					<a href="#" class="more-show">Show all</a> / <a href="#" class="more-hide">Hide all</a>
				</li>
				<li>
					<h3 class="more-link">2013 pre-tax profit hit by one-offs for Romania and Italy <span class="icon-arrow-down"></span></h3>
					<div class="more-content">
						<p>VIG’s preliminary pre-tax profit of ~EUR350m included a further ~EUR90m one-off charges for Romania and Italian motor insurance. This disappointment sent the stock down to a level close to EUR35. With our PT reached we revisit our investment case for VIG.</p>
						<p><a href="#">More information <span class="icon-arrow-right"></span></a></p>
					</div>
				</li>
				<li>
					<h3 class="more-link">4-5% premium growth p.a., 3-4% EPS growth exp. until 2016 <span class="icon-arrow-down"></span></h3>
					<div class="more-content">
						<p>With the additional reserving done in 2013 we consider VIG’s problem in Italian motor resolved. As outlined by the company, the situation in Romania remains difficult. Competition in motor insurance in Cezch. Rep. and Slovakia remains tough and is deteriorating in Poland. VIG tries to stay disciplined and focus on non-motor business in P&amp;C, in particular commercial business. In Austria, we expect moderate price increases in P&amp;C insurance and stable new business generation in life. In total we expect premiums of the group to grow 4-5% p.a. With the low interest rates still biting into investment income, net profit is expected to grow 3-4% p.a. for the 2004-2016E. Our estimate for pre-tax profit for 2014 is only slightly below’ VIG’s adjusted operating profit for 2013, EUR580m. In our estimates we assume a combined ratio of 95.8% for 2014 and 95.5% for 2015.</p>
						<p><a href="#">More information <span class="icon-arrow-right"></span></a></p>
					</div>
				</li>
				<li>
					<h3 class="more-link">Valuation: fairly valued at 11x 2014E earnings <span class="icon-arrow-down"></span></h3>
					<div class="more-content">
						<p>We cut our EPS for 2013E from EUR2.04 to EUR1.67 and slightly increase our EPS for 2014 and 2015 by ~2%, driven predominantly by updating our model with respect to recent acquisitions. The dividend proposal of EUR1.30 for 2013 was a positive surprise to us (exp. EUR0.80). We slightly increase our DPS for 2014 from EUR1.20 to EUR1.30. Furthermore, we leave our PT unchanged at EUR36 per share. At this price VIG trades at 11.3x 2014E earnings, fair in our view in light of pressure on growth in VIG’s main CEE countries. We maintain our Underperform rating on the stock.</p>
						<p><a href="#">More information <span class="icon-arrow-right"></span></a></p>
					</div>
				</li>
			</ul>	
					
		</article><!-- /col-md-7-->
				
		<div class="col-md-5 col-md-offset-1">
		
			<div id="chart-container" class="chart"></div>
			
			{% include "finance-table" %}
			
			<table class="table table-hover table-condensed">
				<tbody>
					<tr>
						<td>Bloomberg / Reuters codes</td>
						<td>VIG AV / VIGR.VI</td>
					</tr>
					<tr>
						<td>Market cap (EUR m), Free float (%)</td>
						<td>4,506 (30.0%)</td>
					</tr>
					<tr>
						<td>No. of shares, diluted (m)</td>
						<td>128</td>
					</tr>
					<tr>
						<td>Daily trading volume (EUR m)</td>
						<td>3</td>
					</tr>
					<tr>
						<td>STOXX 600 Europe</td>
						<td>323</td>
					</tr>
					<tr class="info">
						<td>Next Event</td>
						<td>(00 Jan 1900)</td>
					</tr>
				</tbody>
			</table>
			
			
			
		</div><!-- /col-md-5 -->
		
	</section><!-- /container -->
	
	<section class="feedback">
		<div class="container">
			<p class="lead">
				<span class="agree"><span class="icon-thumbs-up"></span> <strong>243</strong> people agree with this thesis</span>
			</p>
			<p class="lead">
				<span class="disagree"><span class="icon-thumbs-down"></span> <strong>37</strong> people disagree with this thesis</span>
			</p>
		
			<div class="btn-holder">
				<button type="button" class="btn btn-success"><span class="icon-thumbs-up"></span> I agree</button>
				<button type="button" class="btn btn-danger"><span class="icon-thumbs-down"></span> I disagree</button>
			</div>
			
		</div>
	</section>
	
	
	<section id="more-reading" class="more-reading">
	<div class="container">
	
		<div class="recommended article-list">
			<h2><span class="icon-star"></span> Recommended for you</h2>
			<p class="lead">Based on research you've read we recommend reading the following:</p>
				<article class="col-md-4">
					<h3>Strabag SE <span class="status label label-danger"><span class="icon-stats"></span> Underperform</span></h3>
					<p class="stats">
					  <span class="label label-target">PT:</span> EUR 18.0
					  <span class="label label-price">Price:</span> EUR 21.00 (-14.3%)
					</p>
					<h4>Challenging guidance, difficult outlook and high valuation</h4>
					<div class="rel">
						<time datetime="2009-11-13"><span class="icon-calendar"></span> 17 December 2013</time>
						<a href="#" class="author"><span class="icon-mail"></span> Christian Korth</a>
					</div>
					<p>We believe Strabag’s 2013 guidance for EUR >260m EBIT will be very difficult to reach. Generally perceived as a play to benefit from higher infrastructure investments in Germany, Strabag remains exposed to pricing pressure and rising input costs.</p>
					<p><a href="#">Read more <span class="icon-arrow-right"></span></a></p>
				</article>
				<article class="col-md-4">
					<h3>Wienerberger <span class="status label label-info"><span class="icon-stats"></span> Neutral</span></h3>
					<p class="stats">
						<span class="label label-target">PT:</span> EUR 7.5
						<span class="label label-price">Price:</span> EUR 7.5
					</p>
					<h4>The odds are against EUR550m</h4>
					<div class="rel">
						<time datetime="2009-11-13"><span class="icon-calendar"></span> 19 November 2013</time>
						<a href="#" class="author"><span class="icon-mail"></span> Michael Haid, CFA</a>
					</div>
					<p>With this note we reiterate our Under-perform rating on UNIQA with a new PT of EUR8.40 (up from EUR8.00). While we are convinced UNIQA’s management is implementing the right steps with its restructuring program “UNIQA 2.0”, we believe the pre-tax profit target for 2015 of EUR550m is overly ambitious.</p>
					<p><a href="#">Read more <span class="icon-arrow-right"></span></a></p>
				</article>
				<article class="col-md-4">
					<h3>UNIQA <span class="status label label-success"><span class="icon-stats"></span> Outperform</span></h3>
					<p class="stats">
						<span class="label label-target">PT:</span> EUR 8.4
						<span class="label label-price">Price:</span> EUR 8.91 (+1.8%)
					</p>
					<h4>Trading update implies guidance cut</h4>
					<div class="rel">
						<time datetime="2009-11-13"><span class="icon-calendar"></span> 12 July 2013</time>
						<a href="#" class="author"><span class="icon-mail"></span> Christian Korth</a>
					</div>
					<p>Wienerberger issued a small trading that implies a EUR 20m guidance cut on 2013 EBITDA (7% to EUR 260m). This was driven by continued difficult trading conditions in European Bricks &amp; Tiles where the expected Q2 uptick did not occur.</p>
					<p><a href="#">Read more <span class="icon-arrow-right"></span></a></p>
				</article>	
		</div>
		
		<div class="related article-list">
			<h2><span class="icon-link"></span> Related research</h2>
			<p class="lead">People who read this research also read the following:</p>
			<article class="col-md-4">
				<h3>Swiss Re <span class="status label label-success"><span class="icon-stats"></span> Outperform</span></h3>
				<p class="stats">
				  <span class="label label-target">PT:</span> CHF 88.0
				  <span class="label label-price">Price:</span> CHF 83.05 (+6.0%)
				</p>
				<h4>New biz ROE hurdle rate of 11% triggers special dividend</h4>
				<div class="rel">
					<time datetime="2009-11-13"><span class="icon-calendar"></span> 21 February 2014</time>
					<a href="#" class="author"><span class="icon-mail"></span> Michael Haid</a>
				</div>
				<p>Following the publication of Swiss Re’s FY2013 results we have revisited the company’s financial model. The challenging market environment has resulted in a higher P&amp;C Re combined ratio. </p>
				<p><a href="#">Read more <span class="icon-arrow-right"></span></a></p>
			</article>
			<article class="col-md-4">
				<h3>Mapfre <span class="status label label-success"><span class="icon-stats"></span> Outperform</span></h3>
				<p class="stats">
					<span class="label label-target">PT:</span> EUR 3.4
					<span class="label label-price">Price:</span> EUR 3.07 (+10.7%)
				</p>
				<h4>A macro call on which it is too early to give up</h4>
				<div class="rel">
					<time datetime="2009-11-13"><span class="icon-calendar"></span> 15 February 2014</time>
					<a href="#" class="author"><span class="icon-mail"></span> René Locher</a>
				</div>
				<p>We maintain our Outperform rating on Mapfre following 4Q13 results: with above €15bn in domestic debt, or 2.5x TNAV, the stock could continue benefitting from an improving sentiment on Spanish macro.</p>
				<p><a href="#">Read more <span class="icon-arrow-right"></span></a></p>
			</article>
			<article class="col-md-4">
				<h3>Allianz <span class="status label label-success"><span class="icon-stats"></span> Outperform</span></h3>
				<p class="stats">
					<span class="label label-target">PT:</span> EUR 145.0
					<span class="label label-price">Price:</span> EUR 125.70 (+15.4%)
				</p>
				<h4>Lower earnings at Pimco, higher earnings in P&amp;C</h4>
				<div class="rel">
					<time datetime="2009-11-13"><span class="icon-calendar"></span> 11 February 2014</time>
					<a href="#" class="author"><span class="icon-mail"></span> Federico Salerno, CFA</a>
				</div>
				<p>We update our earnings model for Allianz and cut EPS 2014E by 1% and 2015/16E by 4-5%, taking into account a more cautious view on Pimco (essentially flat inflows expected for 2014, lower performance fees) and higher run-off profits in P&amp;C insurance, given the current low inflation. </p>
				<p><a href="#">Read more <span class="icon-arrow-right"></span></a></p>
			</article>		
		</div>
		
	</div><!-- /container -->
	</section>
	
	<footer class="mastfooter">
		<div class="container">
			<small>&copy; 2014 All rights reserved. <a href="#">Main First Bank AG</a></small>
			<small class="singletrack">Powered by <a href="#">Singletrack Systems</a></small>
		</div>
	</footer>
	
	
{% endblock %}
