<!doctype html>
<html lang="en">
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Title{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
        {{ "style.css" | asset_url | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          {{ "html5shiv.js" | asset_url | script_tag }}
          {{ "respond.js" | asset_url | script_tag }}
        <![endif]-->
        
    </head>
    <body>
            
        {% block content %}{% endblock %}
       
        {{ "jquery-1.11.0.js" | asset_url | script_tag }}
        {{ "scripts.js" | asset_url | script_tag }}

        {% include "ga" %}
    </body>
</html>