@import "variables";

@media (max-width: $screen-xs-max) {
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
}

@media (min-width: $screen-lg-min) {
  
}