@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/fonts/icomoon.eot?-sh6nid');
	src:url('../fonts/icomoon/fonts/icomoon.eot?#iefix-sh6nid') format('embedded-opentype'),
		url('../fonts/icomoon/fonts/icomoon.woff?-sh6nid') format('woff'),
		url('../fonts/icomoon/fonts/icomoon.ttf?-sh6nid') format('truetype'),
		url('../fonts/icomoon/fonts/icomoon.svg?-sh6nid#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
	content: "\e112";
}
.icon-stats:before {
	content: "\e1fe";
}
.icon-file-pdf:before {
	content: "\e4e2";
}
.icon-link:before {
	content: "\e2c9";
}
.icon-star:before {
	content: "\e2ff";
}
.icon-eye:before {
	content: "\e2dc";
}
.icon-eye-blocked:before {
	content: "\e2dd";
}
.icon-thumbs-up:before {
	content: "\e313";
}
.icon-thumbs-down:before {
	content: "\e314";
}
.icon-file:before {
	content: "\e086";
}
.icon-megaphone:before {
	content: "\e060";
}
.icon-mail:before {
	content: "\e604";
}
.icon-arrow-left:before {
	content: "\e6d5";
}
.icon-arrow-down:before {
	content: "\e6d6";
}
.icon-arrow-up:before {
	content: "\e6d7";
}
.icon-arrow-right:before {
	content: "\e6d8";
}
.icon-flag:before {
	content: "\e2d1";
}
.icon-exit:before {
	content: "\e37a";
}

body {
	font-family: $font-family-sans-serif;
	@include transition(all, 0.2s, ease-in-out);
}

.icon-mail {
	position: relative;
	top: 1px;
}

a {
	@include transition(all, 0.2s, ease-in-out);
	text-decoration: none;
	outline: 0;
	&:hover,
	&:visited,
	&:active {
		text-decoration:none;
		outline: 0;
	}
}

button {
	@include transition(all, 0.2s, ease-in-out);
}

.main-content {
	padding: 10em 0 2em 0;
	
	@media (max-width: $screen-sm-max) {
	  	 padding: 2em 0 2em 0;
	}
	
	h1 {
		margin-top: 0;
	}
	header {
		margin-bottom: 2em;
		a {
			margin-left: 1em;
			text-decoration:none;
			outline: 0;
			
			@media (max-width: $screen-sm-min) {
				display: block;
				margin-left: 0;
			}
			
		}
		time {color: #999;}
	}		
}
.mastfooter {
	background: #444;
	border-top: 3px solid #000;
	color: #999;
	padding: 1em 0;
	small {
		float: left;
	}
	.singletrack {
		float: right;
		
		@media (max-width: $screen-xs-max) {
			float: left;
			clear: left;
		}
		
	}	
}

.conclusion-banner {
	background: #444;
	border-bottom: 3px solid #000;
	color: #fff;
	padding: 1.25em 0;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	transition: top 0.3s ease-in;
	
	@media (max-width: $screen-sm-max) {
	  	 position: relative;
	}
	
	.stats {
		float: left;
		text-align: left;
		font-size: 1.2em;
	}
	.label-target,
	.label-price {
		color: #ccc;
		padding-right: 0;
		font-size: .8em;
	}
	.interact {
		float: left;
		
		@media (max-width: $screen-sm-max) {
		  	 clear: both;
		}
	
	}
	h1 {
		font-size: 1.5em;
		margin: 0 0 .5em 0;
	}
	.label {
		position: relative;
		top: -2px;
	}
	a {
		color: #f0f0f0;
		display: block;
		margin: 0 0 .5em 2em;
		font-size: 1.1em;
		padding: .25em 1em;
		background: #000;
		outline: 0;
		text-decoration: none;
		&:hover {
			background: #fff;
			color: #000;
		}	
		&:last-child {
			margin-bottom:0;
		}
		
		@media (max-width: $screen-sm-max) {
		  	 margin: .75em 0 0 0;
		  	 display: inline-block;
		}
		
	}
	.status {
		font-size: .9em;
	}
}

.branding {
	max-width: 100%;
	width: 150px;
	float: right;
	
	@media (max-width: $screen-xs-max) {
		float: none;
		margin-bottom: 2em;
	}
}

.more-list {
	position: relative;
	border-top: 1px solid $gray-light;
	border-bottom: 1px solid $gray-light;
	margin: 70px 0 60px 0;
	clear: right;
	li {
		border-bottom: 1px solid $gray-light;
		&:last-child {
			border: 0;
		}
	}
	.more-show-hide {
		float: right;
		position: absolute;
		right: 0;
		top: -36px;
		border: 0;
		a {
			display: inline-block;
			padding: 8px 0;
			outline: 0;
			text-decoration: none;
		}
	}
}

.more-link {
	cursor: pointer;
	color: $link-color;
	position: relative;
	padding-right: 30px;
	margin: 0;
	padding: .75em 30px .75em 0;
    @include transition(all, 0.2s, ease-in-out);
    line-height: 1.4em;
	span {
		position: absolute;
		top: 1em;
		right: 0;
	}
	
	&:hover, &.active {
		color: $link-hover-color;
	}
}
.more-content {
	padding-bottom: 1em;
}

.more-reading {
	background: #f0f0f0;
	padding-top: 1em;
	text-align: center;
	
	@media (max-width: $screen-sm-max) {
	  	 text-align: left;
	}
	
	.lead {
		color: #444;
	}
	
	article {
		text-align: left;
		
		@media (max-width: $screen-sm-max) {
		  	margin-bottom: 2em;
		  	&:last-child {
		  		margin-bottom:1em;
		  	}
		}
		 
	}
}


.article-list {
	padding-bottom: 2em;
	overflow: hidden;
	clear: both;
	.status {
		font-size: .7em;
		position: relative;
		top: -2px;
	}
	.label-target,
	.label-price {
		color: #333;
		padding-right: 0;
		font-size: .9em;
	}
	.label-target {
		padding-left: 0;
	}
	.rel {
		margin-bottom: 1em;
		time {
			margin-right: 1em;
			color: #999;
		}
		
		@media (max-width: $screen-sm-min) {
			a {
			display: block;
			}
		}
	}
	h3 {
		font-size: 1.4em;
		border-top: 1px solid #ccc;
		padding-top: 1em;
		margin-top: 0;
	}
	h4 {
		border-top: 1px solid #ccc;
		padding-top: 1em;
		margin-top: 1em;
		line-height: 1.4em;
	}
}

.chart {
	margin-bottom: 2em;
}

.feedback {
	background: #f6f6f6;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	padding: 1.5em 0;
	text-align: center;
	h2 {
		margin: 0;
		float: left;
	}
	p {
		margin: .3em .5em 0 0;
		display: inline;
			
		@media (max-width: $screen-sm-min) {
			display: block;
		}
	}
	.btn-holder {
		display: inline;
		
		@media (max-width: $screen-lg-min) {
			display: block;
			padding-top: .5em;
		}
		
	}
	button {
		width: 160px;
		display: inline-block;
		margin: 0 .25em;
		
		@media (max-width: $screen-sm-min) {
			margin-bottom: .5em;
		}
		
	}
	.agree {
		color: $brand-success;
	}
	.disagree {
		color: $brand-danger;
	}
}

@media (max-width: $screen-sm-min) {
	.nav > li > a {
		padding: 10px 10px;
	}
}

.gallery {
	display: none;
}

.graph {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dadada;
	&:last-child {
		border-bottom: 0;
		margin-bottom:  0;
	}
	h3 {
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 5px;
		color: $brand-danger;
		font-weight: 700;
		
	}
	h4 {
		margin: 0;
		margin-bottom: 10px;
		font-size: 14px;
		color: $brand-info;
	}
	p {
		margin-top: 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
	}
	small {
		font-style: italic;
		color: #999;
		display: block;
	}
}