<ul id="tabs" class="nav nav-tabs tab-nav">
  <li><a href="#tab1">Income</a></li>
  <li><a href="#tab2">Balance</a></li>
  <li><a href="#tab3">Operating</a></li>
  <li><a href="#taball">All</a></li>
</ul>
<table id="overview-table" class="table table-hover tab-container ">
	<thead>
		<tr>
			<th>Year to Dec (EUR m)</th>
			<th>2012</th>
			<th>2013E</th>
			<th>2014E</th>
			<th>2015E</th>
		</tr>
	</thead>
	<tbody id="tab1" class="tab-content">
		<tr>
			<td>Revenues (co. def.)</td>
			<td>9,686</td>
			<td>9,194</td>
			<td>9,574</td>
			<td>9,980</td>
		</tr>
		<tr>
			<td>Change y/y</td>
			<td>9.0%</td>
			<td>-5.1%</td>
			<td>4.1%</td>
			<td>4.2%</td>
		</tr>
		<tr>
			<td>Op. result (co. def.)</td>
			<td>587</td>
			<td>357</td>
			<td>577</td>
			<td>596</td>
		</tr>
		<tr>
			<td>Op. margin</td>
			<td>6.1%</td>
			<td>3.9%</td>
			<td>6.0%</td>
			<td>6.0%</td>
		</tr>
		<tr>
			<td>Pre-tax result</td>
			<td>547</td>
			<td>323</td>
			<td>557</td>
			<td>576</td>
		</tr>
		<tr>
			<td>Pre-tax margin</td>
			<td>5.7%</td>
			<td>3.5%</td>
			<td>5.8%</td>
			<td>5.8%</td>
		</tr>
		<tr>
			<td>Net result, rep.</td>
			<td>406</td>
			<td>213</td>
			<td>405</td>
			<td>418</td>
		</tr>
		<tr>
			<td>Net margin</td>
			<td>4.2%</td>
			<td>2.3%</td>
			<td>4.2%</td>
			<td>4.2%</td>
		</tr>
		<tr>
			<td>EPS, rep. (EUR)</td>
			<td>3.17</td>
			<td>1.67</td>
			<td>3.16</td>
			<td>3.27</td>
		</tr>
		<tr>
			<td>EPS, adj. (EUR)</td>
			<td>3.17</td>
			<td>1.67</td>
			<td>3.16</td>
			<td>3.27</td>
		</tr>
		<tr>
			<td>EPS, cons. (EUR)</td>
			<td>3.29</td>
			<td>2.31</td>
			<td>3.50</td>
			<td>3.74</td>
		</tr>
		<tr>
			<td>DPS (EUR)</td>
			<td>1.20</td>
			<td>1.30</td>
			<td>1.30</td>
			<td>1.30</td>
		</tr>
	</tbody>
	<tbody  id="tab2" class="tab-content">
		<tr>
			<td>Total AuM (bn)</td>
			<td>37</td>
			<td>37</td>
			<td>39</td>
			<td>42</td>
		</tr>
		<tr>
			<td>Total assets (bn)</td>
			<td>42</td>
			<td>42</td>
			<td>45</td>
			<td>48</td>
		</tr>
		<tr>
			<td>Shareholders' equity</td>
			<td>4,910</td>
			<td>4,961</td>
			<td>5,194</td>
			<td>5,444</td>
		</tr>
		<tr>
			<td>Tangible NAV</td>
			<td>3,071</td>
			<td>3,199</td>
			<td>3,383</td>
			<td>3,583</td>
		</tr>
		<tr>
			<td>EmbV</td>
			<td>5,116</td>
			<td>5,388</td>
			<td>5,716</td>
			<td>6,071</td>
		</tr>
		<tr>
			<td>Financial debt</td>
			<td>1,033</td>
			<td>1,279</td>
			<td>1,351</td>
			<td>1,429</td>
		</tr>
		<tr>
			<td>Debt / EmbV</td>
			<td>20.2%</td>
			<td>23.7%</td>
			<td>23.6%</td>
			<td>23.5%</td>
		</tr>
		<tr>
			<td>BV per share</td>
			<td>38.36</td>
			<td>38.76</td>
			<td>40.58</td>
			<td>42.53</td>
		</tr>
		<tr>
			<td>TNAV per share</td>
			<td>24.00</td>
			<td>24.99</td>
			<td>26.43</td>
			<td>27.99</td>
		</tr>
		<tr>
			<td>EmbV per share</td>
			<td>39.97</td>
			<td>42.09</td>
			<td>44.66</td>
			<td>47.43</td>
		</tr>
	</tbody>
	<tbody id="tab3" class="tab-content">
		<tr>
			<td>RoE, adj.</td>
			<td>9.0%</td>
			<td>4.3%</td>
			<td>8.0%</td>
			<td>7.9%</td>
		</tr>
		<tr>
			<td>P/E, adj.</td>
			<td>10.3</td>
			<td>23.1</td>
			<td>11.1</td>
			<td>10.8</td>
		</tr>
		<tr>
			<td>Dividend yield</td>
			<td>3.7%</td>
			<td>3.4%</td>
			<td>3.7%</td>
			<td>3.7%</td>
		</tr>
		<tr>
			<td>Price / Book</td>
			<td>0.85</td>
			<td>0.99</td>
			<td>0.87</td>
			<td>0.83</td>
		</tr>
		<tr>
			<td>Price / TNAV</td>
			<td>1.36</td>
			<td>1.54</td>
			<td>1.33</td>
			<td>1.26</td>
		</tr>
		<tr>
			<td>Price / EmbV</td>
			<td>0.82</td>
			<td>0.92</td>
			<td>0.79</td>
			<td>0.74</td>
		</tr>
	</tbody>
</table>